@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  --color-primary-50: #f5f7ff;
  --color-primary-100: #ebf0fe;
  --color-primary-200: #ced9fd;
  --color-primary-300: #b1c2fb;
  --color-primary-400: #7694f8;
  --color-primary-500: #3b66f5;
  --color-primary-600: #355cdc;
  --color-primary-700: #2c4dafb;
  --color-primary-800: #233d93;
  --color-primary-900: #1d3278;
}

@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-950);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-sans);
  }
}

/* Custom Scrollbar */
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full hover:bg-gray-300 transition-colors;
  }
}