security:
  jwt:
    secret-key: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}

spring:
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration
  application:
    name: hemera-backend
  datasource:
    url: jdbc:h2:mem:hemera;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=PostgreSQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema.sql
      data-locations: classpath:db/data.sql
  h2:
    console:
      enabled: true
      path: /h2-console
  security:
    oauth2:
      resourceserver:
        jwt:
          jws-algorithms: HS256
  data:
    redis:
      host: localhost
      port: 6379
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: alpha
    tagsSorter: alpha
  show-actuator: true

mybatis:
  type-handlers-package: com.hemera.cms.handler
  configuration:
    map-underscore-to-camel-case: true

server:
  port: 8081

logging:
  level:
    com.hemera.cms: DEBUG
    org.springframework.security: DEBUG

hemera:
  cors:
    allowed-origins: http://localhost:5173
